*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif; 
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* banner section  */
.header{


}
.banner{
    background-image: url('../Assests/images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 808px;
    max-width: 100%;

}
.banner-content {
    max-width: 525px;
    float: right;
    margin: 216px 230px 15px 0px;
    margin-right: 56px;
    padding-right: 120px;
}
.banner-title{
    color:  #151414;
    text-align: right;
    font-family: Work Sans;
    font-size: 55px;
    margin-bottom: 24px;
}
.common-description{
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}
.cmn-button{
    padding: 21px 25px;
    border-radius: 5px;
    background: #F15B22;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    border: 0;
    cursor: pointer;
    display: block;
    text-align: right;
    margin-left: 255px;
}

/* hero section  */
.hero{
    display: flex;
    justify-content: space-around;
    padding: 140px 222px 50px 229px;
    gap: 134px;
}
.left-hero {
    width: 934px;
    position: relative;
    z-index:5;

}
.common-title{
    color: #151414;
    font-size: 40px;
}
.hero-decription{
    float: left;
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 15px;
}

/* my plan box section  */
.my-plan{

}
.plan-title{

}
.my-plan-box{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    gap:30px;
    padding: 0px 120px;
}
.plan-title{
    margin-bottom: 50px;
    text-align: center;
    color: #151414;
    margin-top: 114px;
}
.plan-cmn-title{
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 18px;
}

/* my plan banner section  */
.my-plan-banner{

}
.banner-image {
    background-image: url('../Assests/images/watch.png');
    opacity: 1s;
    background-repeat: no-repeat;
    max-height: 300px;
    background-position: center;
    margin: 130px 111px;
    max-width: 100%;
}
.banner-opacity{
    height: 300px;
    border-radius: 8px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%);
    position: relative;
}
.banner-cotent{
    text-align: left;
    position: absolute;
}
.my-plan-title {
    margin: 55px 617px 24px 64px;
    text-align: left;
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    width: 459px;
}
#planbtn {
    background-color: #FFFFFF;
    color: #F15B22;
    margin-left: 62px;
}

/* Footer Section  */